.flashcard {
  width: 30em;
  height: 15em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
  box-shadow: 2px 3px 23px rgba(0, 0, 0, 0.1);
  text-shadow: 0px 2px rgba(0, 0, 0, 0.2);
  padding: 1em 3em;
  margin-top: 4em;
  margin-left: 4em;
}
@media (max-width: 600px) {
  .flashcard {
    width: 25em;
  }
}
@media (max-height: 823px) {
  .flashcard {
    margin-top: 9em;
  }
}

.side-b {
  display: none;
}

.button-container {
  margin-top: 3em;
}

button {
  margin-left: 2em;
  border: none;
  border-radius: 5px;
}

button:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.text {
  font-weight: 700;
}